@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --p-color: rgba(255, 255, 255, 0.8);
    --primary-color: rgb(255, 197, 54);
}


p{
    color: var(--p-color);
    line-height: 1.6;
}


/* 
Header Section ------------------------------------
*/
.header-section{
    width: 100%;
    height: 900px;
    background-image: linear-gradient(90.00deg, rgb(5, 8, 24),rgba(5, 8, 24, 0) 100%) ,url("../assets/Rectangle\ 19.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* 
Nav bar section ------------------------------------
*/
.navbar-section{
    width: 100%;
}

.nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand h1{
    color: white;
    font-size: 2.5rem;
}

.brand h1 span{
    background: linear-gradient(to right,rgb(255, 197, 54),
    rgba(255, 198, 54, 0.259));
    background-clip: text;
    color: transparent;
}

.menu ul{
    display: flex;
}

.menu .list-item{
    margin: 0 5px;
}

.menu-link{
    color: var(--p-color);
    padding: 10px 20px;
}

.outline-btn{
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.1rem;
    padding: 15px 30px;
    font-weight: 500;
    border-radius: 8px;
} 

/* 
Hero Section -------------------------------------
*/
.hero-section{
    max-width: 1400px;
    height: 85%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content{
    max-width: 650px;
}

.hero-content h1{
    color: white;
    font-size: 4rem;
    margin: 20px 0;
}

.hero-content h1 span{
    color: var(--primary-color);
}

.hero-content .button-div{
    margin: 30px 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero-content .button-div .outline-btn{
    border-color: white;
    color: white;
}

.button{
    border: none;
    padding: 16px 30px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}